.carouselsContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 0px 30px;
}

.carouselContainer {
    width: 24%;
    border-radius: 15px;
    margin: 10px 0;
    position: relative;
}

.carouselContainer:hover {
    cursor: pointer;
}

.carouselContainer div {
    height: 250px !important;
}

@media screen and (max-width: 768px) {
    .carouselContainer {
        width: 32%;
    }


    
}

@media screen and (max-width: 425px) {
    .carouselContainer {
        width: 100%;
    }
    .carouselsContainer {
        padding: 0 10px;
    }
}